<footer class="footer">
  <div class="footer__logo" ><img src="assets/logo.png"></div>
  <div class="footer__list">
    <ul>
      <a href="#">Home</a>
      <a href="#">Terms of Use</a>
      <a href="#">Legal Notices</a>
      <a href="#">Help</a>
      <a href="#">Manage Account</a>
    </ul>
  </div>
  <div class="footer__icons">
    <img src="assets/app%20store.png" alt="">
    <img src="assets/google-play.png" alt="">
  </div>
  <div class="footer__copyright">Copyright 2020 Dreadfull Tomato Streaming. All Rights reserved</div>
</footer>
