.container{
  max-width: 1200px;
  margin: auto;
}
.header{
  background: black;
  height: 60px;
  &__content{
    display: flex;
    justify-content: space-between;
    &-left{
      display: inline-flex;
    }
    &-right{
      display: inline-flex;
    }
    &-link{
      display: inline-flex;
      color: azure;
      align-items: center;
    }
  }
}
.main{
  &__forms{
    background: red;
    height: 60px;
    &-content{
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      input {
        display: block;
        border: 2px solid red;
        border-radius: 20px;
        height: 60%;

      }
      input[type=search]{
        width: 70%;
      }
      input[type=month]{
        width: 25%;
      }
    }
  }

  &__grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  }
  &__cards{
    display: flex;
    flex-direction: column;


    &-card{
      //height: 0;
      //padding-top: 130%;
      //position: relative;
      //display: block;
      img{
        object-fit: cover;
        //position: absolute;
        //top: 50%;
        //left: 50%;
        //transform: translate(-50%,-50%);
        max-height: 100%;
        max-width: 98%;

      }

      //height: 260px;
      //background-color: blue;
      //margin: 2px;
    }
  }
}
