.container{
  max-width: 1200px;
  margin: auto;
}
.header{
  background: black;
  height: 60px;
  &__content{
    display: flex;
    justify-content: space-between;
    &-left{
      .header__logo{
        margin-right: 30px;
      }
      display: inline-flex;
      a{
        display: inline-flex;
      }
    }
    &-right{
      display: inline-flex;
      justify-content: center;
      align-items: center;
      a{
        display: inline-flex;
      }
      .btn{
        height: 20px;
        width: 175px;
        background-color: red;
        color: aliceblue;
        border: none;
        border-radius: 20px;
        margin: 0 10px;


      }
    }
    .red{
      background-color: red;
    }
    &-link{
      max-width: 112px;
      display: flex;


      justify-content: center;
      align-items: center;
      color: azure;
      padding-left: 20px;
      padding-top: 10px;
      padding-right: 20px;
      img{
        padding-bottom:10px ;
        margin: 0 10px;
      }
    }
  }
}
.main{
  background-color: #131313;
  &__title{
    color: white;
  }
  &__forms{
    background: red;
    height: 60px;
    &-content{
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .input01 {
        display: block;
        border: 2px solid red;
        border-radius: 20px;
        height: 60%;
        width: 70%;
      }
    }
  }

  &__grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  }
  &__cards{
    display: flex;
    flex-direction: column;


    &-card{
      //height: 0;
      //padding-top: 130%;
      //position: relative;
      //display: block;
      position: relative;
      img{
        object-fit: cover;
        //position: absolute;
        //top: 50%;
        //left: 50%;
        //transform: translate(-50%,-50%);
        max-height: 100%;
        max-width: 98%;
      }

      &-banner{
        position: absolute;
        width: 98%;
        height: 50px;
        left: 0;
        bottom: 5px;
        background-color: black;
        opacity: 50%;
        .card-title{

          left: 10%;
          top: 25%;
          color: white;
          z-index: 10;
        }
        .card-year {
          display: none;
        }
        .card-description{
          display: none;
        }
      }
    }
    &-card:hover .main__cards-card-banner{
      height: 250px;
      display: flex;
      flex-direction: column;
      .card-title{

        left: 10px;
        top: 5px;
        color: white;
        z-index: 10;
        margin-bottom: 2px;
      }
      .card-year{
        display: inline-block;
        left: 10px;
        margin-top: 5px;
        color: white;
        z-index: 10;
      }
      .card-description{
        display: block;
        left: 10px;
        top: 20%;
        color: white;
        padding-right: 4px;
      }
    }
  }
}

::ng-deep .ngx-pagination .disabled{
  display: none;
}
::ng-deep .ngx-pagination li{
  background: brown;
  border-radius: 100% !important;
  .current{
    background: black !important;
  }
}
::ng-deep .pagination-next {
  background: none !important;
}
::ng-deep .pagination-previous{
  background: none !important;
  content: "" !important;
}
::ng-deep .ngx-pagination .current{
  background: red !important;
}

::ng-deep .ngx-pagination .pagination-next span{
  content: none !important;
}
::ng-deep .ngx-pagination .pagination-next a:after, .ngx-pagination .pagination-next.disabled:after{
  content: "\203a" !important;
  font-size: 35px;
  color: white !important;
  margin-left: 0 !important;
  position: relative;
  top: 5px;

}
::ng-deep .ngx-pagination .pagination-previous a:before, .ngx-pagination .pagination-previous{
  content: "\2039" !important;
  font-size: 35px;
  color: white !important;
  margin-right: 0 !important;
  position: relative;
  top: 5px;

}
::ng-deep .ngx-pagination .pagination-previous a:before, .ngx-pagination .pagination-previous.disabled:before {
  content: none;
}
.text-center{
  display: flex;
  justify-content: center;
}
::ng-deep.mat-form-field-outline {
  display: none;
}
::ng-deep.mat-datepicker-input{
  padding: 8px 10px !important;

}
::ng-deep.mat-form-field-infix{
  border-top: none;
  height: 100%;
}
::ng-deep mat-form-field{
  background-color: red;
  height: 100%;
  width: 270px;
  .input3{
    display: block;
    border: 2px solid red;
    border-radius: 20px;
    height: 70%;
    background-color: azure;
  }
}
::ng-deep .mat-form-field-outline{
  display: none !important;
}

::ng-deep .mat-button-wrapper{
  margin-right: 20px;
}

::ng-deep .mat-calendar-table-header-divider{
  display: none;
}
::ng-deep .mat-calendar-header{
  background-color: red;
  color: azure;
}
::ng-deep .mat-calendar-body-cell-content{
  border-radius: 0 !important;
  border-style: none !important;
}
::ng-deep .mat-calendar-body-selected{
  background-color: red;
}
::ng-deep .mat-calendar-previous-button{
  order: -1;
}
::ng-deep .mat-calendar-spacer{
  display: none;
}
::ng-deep .mat-calendar-controls{
  justify-content: center;
}
::ng-deep .mat-calendar-arrow.mat-calendar-invert{
  display: none;
}
::ng-deep .mat-button-wrapper{
  position: center;
  
}
