<p>movies-page works!</p>
<header class="header">
  <div class="header__content container">
    <div class="header__content-left">
      <div [routerLink]="['/']" class="header__logo">
        <img src="assets/logo.png">
      </div>
      <a>
        <div routerLinkActive="red" [routerLink]="['/movie']" class="header__content-link">
          <img src="assets/icon-movies.png">
          <p>Movies</p>
        </div>
      </a>
      <a>
        <div routerLinkActive="red" [routerLink]="['/series']" class="header__content-link">
          <img src="assets/icon-series.png">
          <p>Series</p>
        </div>
      </a>

    </div>
    <div class="header__content-right">
      <span></span>
      <a>
        <div class="header__content-link ">
          <img src="assets/icon-filter.png">
          <p>Filters</p>
        </div>
      </a>
      <span></span>
      <a>
        <div class="header__content-link">
          <p>Login</p>
          <img src="assets/icon-login.png">
        </div>
      </a>
      <span></span>
      <button class="header__content-trial btn">Start your free trial</button>

    </div>
  </div>
</header>

<main class="main">

  <div class="main__forms">
    <div class="main__forms-content container">
      <input class="input01" type="search" name="find" placeholder="Name" id="#f1" [(ngModel)]="search" (ngModelChange)="test1($event)" ngDefaultControl>

      <mat-form-field appearance="outline">
        <mat-label></mat-label>
        <input class="input3" matInput
               [matDatepicker]="datepicker"
               [formControl]="date"
               placeholder="select Date">
        <mat-datepicker-toggle matSuffix [for]="datepicker" [formControl]="date"></mat-datepicker-toggle>
        <mat-datepicker
          #datepicker
          startView="multi-year"
          (yearSelected)="setYear($event, datepicker)"

        ></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <h2 class="main__title container">Popular {{title}}</h2>
  <div class="main__grid container">
    <div class="main__cards" *ngFor="let u of filteredCards | paginate: { itemsPerPage: 10, currentPage: p } ">
      <div class="main__cards-card"></div>

              <div class="main__cards-card">
                <img src="{{u.images['Poster Art'].url}}">
                <p>{{u.title}}</p>
                <span class="main__cards-card-banner"></span>

              </div>
    </div>

  </div>
  <div class="text-center"><pagination-controls class="my-pagination " (pageChange)="p = $event" previousLabel="" nextLabel=""></pagination-controls></div>
</main>
<app-footer></app-footer>
