<header class="header">
  <div class="header__content container">
    <div class="header__logo">
      <img src="assets/logo.png">
    </div>
    <div class="header__login red">

      <span></span>
      <div>Login</div>
      <span></span>
      <img src="assets/icon-login.png">
      <button class="header__login-trial">Start your free trial</button>
    </div>
  </div>
</header>

<main class="main">
  <div class="main__groups" [routerLink]="['/movies']" (click)="showCards('movies')">
    <div class="main__groups-title">
      <img class="main__groups-title-img" src="assets/movies.png" >
    </div>


    <div class="main__groups-title" [routerLink]="['/series']" (click)="showCards('series')">
      <img class="main__groups-title-img" src="assets/series.png">
    </div>
  </div>
</main>
<app-footer></app-footer>







