<header class="header">
  <div class="header__content container">
    <div class="header__logo">
      <img src="assets/logo.png">
    </div>
    <div class="header__login red">

      <span></span>
      <div>Login</div>
      <span></span>
      <img src="assets/icon-login.png">
      <button class="header__login-trial">Start your free trial</button>
    </div>
  </div>
</header>

<main class="main">
  <div class="main__groups" [routerLink]="['/movies']">
    <div class="main__groups-title">
      <img class="main__groups-title-img" src="assets/movies.png">
    </div>


    <div class="main__groups-title" [routerLink]="['/series']">
      <img class="main__groups-title-img" src="assets/series.png">
    </div>
  </div>
</main>

<footer class="footer">
  <div class="footer__logo" ><img src="assets/logo.png"></div>
  <div class="footer__list">
    <ul>
      <a href="#">Home</a>
      <a href="#">Terms of Use</a>
      <a href="#">Legal Notices</a>
      <a href="#">Help</a>
      <a href="#">Manage Account</a>
    </ul>
  </div>
  <div class="footer__icons">
    <img src="assets/app%20store.png" alt="">
    <img src="assets/google-play.png" alt="">
  </div>
  <div class="footer__copyright">Copyright 2020 Dreadfull Tomato Streaming. All Rights reserved</div>
</footer>


